<!DOCTYPE html>
<html>
  <head>
    <title>WeConnect SignUp</title>
    <link href="../static/css/styles.css" rel="stylesheet" type="text/css" >
  </head>
  <body>
  <header>
    <h1>WeConnect</h1>
 </header>
    <div id="home-header">
      <form method="POST" action="/signup">
        <fieldset>
          <legend>SignUp</legend>
          <!--<div class="labels">-->
            <label for="fname">Name</label>
            <input type="text" id="fname" placeholder="NAME" >
            <br><br>

            <label for="form-email">Email Address</label>
            <input type="email" id="form-email" placeholder="E-mail" required>
            <br><br>

            <label for="form-pass">Password</label>
            <input type="password" id="form-pass" placeholder="Password" required>
            <br><br>

            <input type="submit" name="" value="Signup">
          <!--</div>-->
        </fieldset>
      </form>
    </div>
      <footer>
        <p>&copy; 2018 - Alvin Taremwa</p>
    </div>
  </body>
</html>
