{
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 18px;
}
body{
  padding: 40px;
  font-family: Georgia,Times, serif;
  color: #373737;
}
h1{
  font-size: 3.6em;
  margin: 8px 0;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bolder;
}
header{
  /*font-size: 3.6em;
  text-indent: 85px;*/
  padding: -50px;
  color: white;
  background-color: blue;
}
h2{
  font-size: 2em;
}
h3{
  font-size: 1.6em;
}

/*web form*/
#home-header{
  width: 650px;
  margin: 0 auto;
}

fieldset{
  padding: 30px;
  border: solid 1px;
}
input {
  margin: 0 0 20px;
  border: solid 1px;
  border-top: none;
  display: block;
  width: 50%;
  font-size: 15px;
  font-family: Monaco, monospace;
  text-transform: none;
}

label{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: capitalize;
  background: url('../static/imgs/images.jpg') top left repeat;
  display: block;
  width: 48.4%;
  padding: 1%;
  color: white;
}
 input[type="submit"]{
   background: none;
   background: url('../static/imgs/images.jpg');
   height: 40px;
   border: none;
   padding: 0;
   color: white;
 }
 input[type="submit"]:hover {
   cursor: pointer;
 }
 input[type="submit"]:active {
   outline-color: green;
 }
 footer{
   /*clear:both;
   background: #333;*/
   text-align: center;
   padding: 6px;
   position: fixed;
   bottom: 0;
   color: #333;
   width: 92%;
 }
labal{
  width: 580px;
  align-content: center;
}
nav{
  text-align: right;
}
nav ul li{
  display: inline;
  text-align: right;
}
nav#headings ul li a:link,
nav#headings ul li a:visited{
  color: white;
  text-decoration: none;
  padding: 10px;
}
nav#headings ul li a:hover {
  text-decoration: overline;
}
