<!DOCTYPE html>
<html>
  <head>
    <title>WeConnect Update Business</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
  </head>
  <body>
    <div id="home_page">
      <header>
        <h1>WeConnect</h1>
          <nav id="headings">
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="register.html">Register</a></li>
              <li><a href="search_business.html">Search Directory</a></li>
              <li><a href="login.html">LogOut</a></li>
            </ul>
          </nav>
      </header>
    </div>
      <footer>
        <p>&copy; 2018 - Alvin Taremwa</p>
      </footer>
    </body>
</html>
