<!DOCTYPE html>
<html>
  <head>
    <title>WeConnect View Business</title>
    <link href="../static/css/styles.css" rel="stylesheet" type="text/css" >
  </head>
  <body>
    <div id="home_header">
      <header>
        <h1>WeConnect</h1>
          <nav id="headings">
            <ul>
              <li><a href="{{url_for('base')}}">Home</a></li>
              <li><a href="{{url_for('add_a_business_idea')}}">Register Your Business</a></li>
              <li><a href="{{url_for('search_a_business')}}">Search Directory</a></li>
              <li><a href="{{url_for('logout')}}">LogOut</a></li>
            </ul>
          </nav>
        </header>
      <div>
        <h2>{{Business_name}}</h2>

        <article>
					<p><a>{{description}}</a><button a href="/update_a_business_description/{{business_name}}/{{description}}">Modify Description</button><button a href="/delete/{{business_name}}/{{description}}">Delete description</button></p>
				</article>
    </div>
      <footer>
        <p>&copy; 2018 - Alvin Taremwa</p>
      </footer>
    </body>
</html>
